.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.Apps {
  font-family: sans-serif;
  text-align: left;
  height: 100vh;
  width: 100vw;
  padding-left: 10px;
}

.Appsi {
  font-family: sans-serif;
  text-align: left;
  height: 100vh;
  width: 100vw;
  padding-left: 500px;
}

body {
  padding: 0;
  margin: 0;
}
